#
Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#vscode
!/.vscode/
*/.vscode
.vscode/
*/.vscode/
*/.vscode/*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#Thirdparty
ThirdParty/googletest-1.7.0/CMakeCache.txt
ThirdParty/googletest-1.7.0/CMakeFiles/
ThirdParty/googletest-1.7.0/Makefile
ThirdParty/googletest-1.7.0/cmake_install.cmake

*.DS_Store

# test file
src/*_test

# python
*.pyc

